</div>
<div class="container">
  <div id="welcome-greeting">
    <h1>Welcome!</h1>
    <h2>
      The purpose of this website is to be a medium for some upcoming blog posts, primarily on various areas in machine
      learning.
      I've never blogged before so we'll see how this goes... If you have any feedback or suggestions, or for anything
      else, please
      do get in touch using one of the links in the sidebar. I hope you find these posts useful.
    </h2>
    <hr />
  </div>
</div>
<div class="container">