---
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include header.html %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180165850-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-180165850-1');
  </script>
</head>

<body>
  <div class="nav-toggle"><i class="fa fa-bars fa-2x"></i> Herring Cove </div>
  <div id="wrapper">
    {%include navigation.html %}
    <div class="container">
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>

</html>