---
layout: default
---
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<link href="/css/github.css" rel="stylesheet">

<div id="article">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>
  </p>
  <hr />
  <div class="post">
    <div class="contents">Contents:</div>
    {% include toc.html html=content sanitize=true h_max=3 %}
  </div>
  <div class="post">
    {{ content }}
  </div>
</div>
{% include share.html %}
{% include pager.html %}
{% include comment.html %}